.rodape {
    text-align: center;
}
.msg {
    font: normal 30pt Arial;
}
body {
    font: normal 15pt Arial;
    box-shadow: 5px 5px 10px rgb(56, 56, 56);
    text-align: center;
    background-color: rgb(158, 203, 245);;
}
button {
    width: 500px;
    padding: 10px;
    background-color: rgb(199, 199, 199);
    appearance: none;
}
.header {
    text-align: center;
}
.primeiraparte{
    background-color: azure;
    padding: 13px;
    text-align: center;
}
.imagemaleatoria {
    border-radius: 40%;
    max-width:600px;
    max-height:600px;
    width: auto;
    height: auto;
} 
.img {
    border-radius: 50%;
    max-width:600px;
    max-height:600px;
    width: auto;
    height: auto;
}
.segundaparte {
    font: normal 18pt Arial;
    text-align: center;
}
input {
    font-size: large;
}